body {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin-left: 50px;
}

.header.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-start;
}

.link {
    color: #E5E7EB;
    text-decoration: none;
    display: flex;
    align-self: flex-end;
    font-size: 18px;
    font-weight: 100;
    margin-right: 75px;
    border: auto;
}

.sec1 {
    display: flex;
    flex: 1; 
    justify-content: space-around;
    margin-left: 50px;
    margin-top: auto;
    border: 50px;
    flex-direction: column;
}

.sec1.head {
    color: #F9FAF8;
    font-size: 48px;
    margin-left: 50px;
    display: flex;
    align-self: flex-start;
}

.sec1.text {
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 100;
    display: block;
}

.sec1.button {
    background-color: blue;
    color: #E5E7EB;
    display: flex;
    margin-left: 50;
    align-self: flex-start;
}

.sec1.image {
    border: 75px;
    padding: 75px;
    margin: auto;
    background-color: grey;
    display: flex;
    align-items: flex-end;
}